{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="container">
  <h1>{% trans "Sign Up" %}</h1>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>

    <div class="mb-3">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>

    <div class="mb-3">
      {{ form.password1.label_tag }}
      {{ form.password1 }}
    </div>

    <div class="mb-3">
      {{ form.password2.label_tag }}
      {{ form.password2 }}
    </div>

    <div class="mb-3">
      {{ form.bio.label_tag }}
      {{ form.bio }}
    </div>

    <div class="mb-3">
      {{ form.profile_picture.label_tag }}
      {{ form.profile_picture }}
    </div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button type="submit" class="btn btn-primary">{% trans "Sign Up" %}</button>
  </form>
</div>
{% endblock content %}