body {
    background-color: #8eb897ff;
}


.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #040403ff;
}

.bg-custom {
    .custom-navbar {
        background-image: url('../images/fresh-organic-vegetables-4.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        color: white;
        font-size: 18px;
    }

}

.red-o {
    color: #5b7553ff;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #c3e8bdff;
}


.dark-bg {
    background-color: #040403ff;
}

.main-bg {
    background-color: #8eb897ff;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #040403ff;
}

.author {
    color: #8eb897ff;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #040403ff;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #040403ff;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #8eb897ff;
}

.post-link:hover,
.page-link {
    color: #5b7553ff;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #040403ff;
    color: white;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: white;
    color: #040403ff;
}

.link {
    color: #040403ff;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #5b7553ff;
    text-decoration: underline;
}

.btn-like {
    color: #1C2419;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #1C2419;
    background: transparent;
    border: none;
}