@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    background-color: #fff5f8;
    font-family: Poppins, sans-serif;
}

.brand {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
}

.navbar {
    background-image: linear-gradient(#cc0044, #80002a);
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.container {
    padding-top: 10px;
}

.account-image {
    margin: 0 auto;
}

.h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.bg-custom {
    .custom-navbar {
        background-image: url('../images/fresh-organic-vegetables-4.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        color: white;
        font-size: 18px;
    }

}

.card {
    padding: 1.5em 1.5em 1.5em;
    border-radius: 2em;
    text-align: left;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.card-title {
    font-weight: 700;
    font-size: 1.5em;
}

.red-o {
    color: #fff5f8;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff5f8;
}


.dark-bg {
    background-color: #040403ff;
}

.main-bg {
    background-color: #fff5f8;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #ffe6ed;
}

.author {
    background-color: #ffe6ed;
    color: #80002a;
    margin: 4px;
    text-transform: uppercase;
    border: 0px;
}

.masthead {
    margin-top: 0px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
    background-color: #ffe6ed;
}

.masthead-text {
    background-color: #ffe6ed;
    color: #80002a;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: #ffe6ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post-link {
    text-decoration: none;
    color: #80002a;
}

.post-link:hover,
.page-link {
    color: #ff004c;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: darkgray;
}

.btn-signup {
    background-color: #040403ff;
    color: white;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: white;
    color: #040403ff;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #5b7553ff;
    text-decoration: underline;
}

.btn-like {
    color: #1C2419;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #1C2419;
    background: transparent;
    border: none;
}

.footer {
    background-color: #80002a;
    color: white;
}