{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Edit Profile" %}{% endblock head_title %}

{% block content %}
<div class="container">
    <h1>{% trans "Edit Profile" %}</h1>

    <form class="signup" method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            {{ form.bio.label_tag }}
            {{ form.bio }}
        </div>

        <div class="mb-3">
            {{ form.profile_picture.label_tag }}
            {{ form.profile_picture }}
        </div>

        {% if user_profile.profile_picture %}
        <img src="{{ user_profile.profile_picture.url }}" alt="{{ user_profile.user.username }}'s profile picture">
        {% endif %}

        <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
    </form>
</div>
{% endblock content %}