{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <div class="container">
        <div class="card">
            <div class="media">

                <img class="rounded-circle account-img" src="{{ user_profile.profile_picture.url }}"
                    style="max-width: 30%;" />

                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>

                    <p class="text-secondary">{{ user.email }}</p>
                    <p>{{ user.profile.bio }}</p>
                    <button class="btn btn-primary" onclick="location.href='{% url 'edit_profile' %}'">Edit
                        Profile</button>

                </div>
            </div>
            <hr>

            <h3>Liked Posts:</h3>
            <ul>
                {% for post in user_profile.users_who_liked.all %}
                <li><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>
{% endblock content %}