{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <div class="container">

        <!-- User Profile Card -->
        <div class="card mb-4">
            <div class="card-body">
                <div class="media">
                    <img class="rounded-circle account-img" src="{{ user_profile.profile_picture.url }}"
                        style="max-width: 30%;" />
                    <div class="media-body">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                        <p>{{ user.profile.bio }}</p>
                        <a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <!-- Added Recipes Card & Liked Posts Card -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Liked Posts:</h3>
                <ul class="list-unstyled">
                    {% for like in liked_posts %}
                    <li><a href="{% url 'post_detail' like.post.slug %}">{{ like.post.title }}</a></li>
                    {% endfor %}
                </ul>
                <h3 class="card-title">Added by me:</h3>
                <div class="row">
                    {% for post in user_posts %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                    {% else %}
                                    <img class="card-img-top" src="{{ post.featured_image.url }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.excerpt }}</p>
                                </a>
                                <hr />
                                <p class="card-text text-muted h6">{{ post.created_on}} <i
                                        class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
